.contenedor 
{   
    margin-left: 244px;
    margin-right: 244px;
    
    
}


.notas 
{
    min-height: 400px;
    
}



.hash 
{
    min-height: 160px;
     
}


.banner 
{
    min-height: 150px;
    min-width: 80%
}


.banner1 
{
    min-height: 250px;
  
    min-width: 100%;
    float: left;
    min-width: 100%;
    background: white;
      
}

.logo
{

    min-height: 70px;
    min-width: 20%;
    
    display:block;
    float:right;
    position: relative;
    
}

.wrapper { width:934px; margin:0 auto; overflow:hidden; }
.fullContent { width:916px; float: left; margin:0 18px 40px 0; min-height:400px }
.contentape { width:615px; float:left; margin:0 18px 40px 0; min-height:400px; }
.toolboxape{ float:left; width:300px; }