
.lightbox{
	display:none;position:fixed;top:0px;left:0px;width:100%;height:100%;background-color:black;opacity:0.6;z-index:20;
}
.preloader, preloaderProximos
{
	background-image:url(../imagenes/00_preloader.gif);	
	background-position:center;
	background-repeat:no-repeat;
	width:100%;
	height:200px;
}
.cargando
{
	background-image:url(../imagenes/00_preloader.gif);	
	background-position:center;
	background-repeat:no-repeat;
}
.home-cursos-content ul li a
{
height:auto !important;
}
.archivo-li
{
	padding:13px 14px 13px 62px !important;	
}
.formError
{
	background-color:  #F2D5DF !important;
}



#infovis .path {margin:10px 0 8px 12px;font-size:12px;color:#a3a3a3!important;clear:both;display:block;}
#infovis .path a {color:#808080!important;text-decoration:none!important;margin-left:0;}
#infovis .path span {float:left;margin-right:5px;}
#infovis .path a:hover {color:#626262!important;}#infovis {
 position:relative;
  width:935px;
  margin:20px;
  height:550px;
  margin:auto;
  overflow:hidden;
}

.node {
  color:#fff;
  font-size:9px;
  font-style:normal;
  overflow:hidden;
  cursor:pointer;
  overflow:hidden;
	border:solid 1px transparent;
	 font-family: 'Roboto Condensed', sans-serif !important; font-weight:400; text-transform:uppercase !important;
	-webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
          -ms-hyphens:auto;
          
}

.node a {
  color:#fff!important;
  text-decoration:none!important;
}
.node a:hover {
  text-decoration:underline!important;
}
.node p {
  padding:5px;
}
.node p:hover {
  text-decoration:underline!important;
}
#infovis .color01 { background:#905da3;border:1px solid white !important;} /*clr*/
#infovis .color02 { background:#4f91cd;border:1px solid white !important; }
#infovis .color03 { background:#00b5cb;border:1px solid white !important; }
#infovis .color04 { background:#179a99; border:1px solid white !important;}
#infovis .color05 { background:#5dc2a5;border:1px solid white !important; }
#infovis .color06 { background:#e7b932; border:1px solid white !important;}
#infovis .color07 { background:#f89d57; border:1px solid white !important;}
#infovis .color08 { background:#ed8260;border:1px solid white !important; }
#infovis .color09 { background:#c00000;border:1px solid white !important; }
#infovis .color10 { background:#920202;border:1px solid white !important; }
#infovis .color11 { background:#6c407d;border:1px solid white !important; }
#infovis .color12 { background:#28668f;border:1px solid white !important; }
#infovis .color13 { background:#188280;border:1px solid white !important; }
#infovis .color14 { background:#b48f27;border:1px solid white !important; }
#infovis .color15 { background:#fb7c1b;border:1px solid white !important; }
.tip-sub
{
	font-family: 'Roboto', sans-serif; font-size:14px; color:#FFF; line-height:14px; 
}