@charset "iso-8859-1";
/* CSS Document */

.XXX > .paginado .paginado-anterior:hover, .XXX > .paginado .paginado-siguiente:hover { background-color:#PPPPPP; }

.XXX .importante { background-color:#PPPPPP;}

.XXX .resultados > h2 { color:#PPPPPP; }
	.resultados .data > span { color:#PPPPPP; }
	.XXX .sin-resultados > h4 strong { color:#PPPPPP; }
	.XXX .sin-resultados > ul > li strong { color:#PPPPPP; }
	
.XXX a.btn, .XXX a.reverse-btn { background-image:url(../imagenes/btn-XXX.png); }
.XXX a.btn span, .XXX a.reverse-btn span { background-color:#PPPPPP; }

.XXX .select-tools { background:#PPPPPP; }