<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="logfile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target name="file" xsi:type="File" fileName="${basedir}/Logs/${shortdate}.txt" keepFileOpen="false" layout="${longdate} ${message}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Error" writeTo="logfile" />
	</rules>
</nlog>
