<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Camarco.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<!-- tiempo de validez de cache de imagenes -->
		<add key="fileCacheMinutes" value="60"/>
		<!-- email al que llegan los contados -->
		<add key="contactoEmail" value="cac@camarco.org.ar"/>
		<!-- email al que llegan los contactos de capacitacion -->
		<add key="contactoEmailCapacitacion" value="capacitacion@camarco.org.ar"/>
		<!-- credenciales de conexion con gestor b-->
		<add key="gestorBAccountID" value="IFJ2513"/>
		<add key="gestorBApiKey" value="3e29e5ba2cfa4919a463d25afabcedf1"/>
		<!-- GroupID de Gestor b para los newsletter de capacitacion -->
		<add key="gestorB_Grupo_Capacitacion" value="UHE21119"/>
		<!-- GroupID de Gestor b para los newsletter institucional -->
		<add key="gestorB_Grupo_Institucional" value="VVL40649"/>
		<!-- Dev -->
		<add key="sServiceUrl" value="http://192.168.50.12:5555/mscrmservices/2007/crmservice.asmx"/>
		<!-- Testing/Prod -->
		<!--<add key="sServiceUrl" value="http://crm:5555/mscrmservices/2007/crmservice.asmx"/>-->
	</appSettings>
	<connectionStrings>
		<add connectionString="Server=localhost;Database=Camarco;User ID=camarcoweb;Password=Tapirandu3784" name="SQL Server" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp from="info@camarco.org.ar">
				<network host="mail.camarco.org.ar" port="25"/>
			</smtp>
		</mailSettings>
	</system.net>
	<system.web>
		<httpRuntime executionTimeout="9999" maxRequestLength="20480"/>
		<caching>
			<sqlCacheDependency enabled="true" pollTime="500">
				<databases>
					<add name="Camarco" connectionStringName="SQL Server"/>
				</databases>
			</sqlCacheDependency>
		</caching>
		<sessionState mode="SQLServer" allowCustomSqlDatabase="true" sqlConnectionString="Server=localhost;Initial Catalog=ASPState;User ID=camarcoweb;Password=Tapirandu3784;" cookieless="false" timeout="20"/>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
    -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="microsoft.crm.sdk, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
    -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<add namespace="System.Web.Mvc"/>
				<add namespace="System.Web.Mvc.Ajax"/>
				<add namespace="System.Web.Mvc.Html"/>
				<add namespace="System.Web.Routing"/>
				<add namespace="System.Linq"/>
				<add namespace="System.Collections.Generic"/>
			</namespaces>
		</pages>
	</system.web>
	<system.web.extensions/>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
		</modules>
		<handlers>
			<remove name="UrlRoutingHandler"/>
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<applicationSettings>
		<Camarco.Web.Properties.Settings>
			<setting name="Camarco_Web_WS_Camarco_NL_api_2_1" serializeAs="String">
				<value>http://api.gbcorreo.net/2.1/api.asmx</value>
			</setting>
			<setting name="Camarco_Web_WS_Carmarco_CRM_CRMLookUpService" serializeAs="String">
				<value>http://webdesarrollo.camarco.org.ar:83/CRMLookUpService.asmx</value>
			</setting>
		</Camarco.Web.Properties.Settings>
	</applicationSettings>
</configuration>
